.cl-brown-dark-3 {
    background-color: #524036;
}
.cl-brown-dark-2 {
    background-color: #744730;
}
.cl-brown-dark-1 {
    background-color: #964625;
}
.cl-brown-light-3 {
    background-color: #CEA062;
}
.cl-brown-light-2 {
    background-color: #957443;
}
.cl-brown-light-1 {
    background-color: #A6745C;
}
.cl-gray-brown {
    background-color: #A09476;
}
.cl-gray-red {
    background-color: #C8B0A0;
}
.cl-blue {
    background-color: #577B82;
}
.cl-green-light {
    background-color: #416B3F;
}
.cl-green-dark {
    background-color: #7B6F45;
}
.cl-red {
    background-color: #F64250;
}
