.fm-title{
    padding-left: 8%;
}
.fm-comment{
    padding-left: 8% ;
    width: 90%;
}

.fm-comment textarea{
     width: 100%;
     height: 200px;
}

.fm-comment-submit{
    width: 100px;
    float: right;
}

